/*body {
	font-size: 12px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #333;
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}*/

div {
display: block;
}
li, ul, ol {
    list-style: none;
    padding: 0px; 
    margin: 0px;
}

a, a:hover {
	cursor: pointer;
	color: #FFF;
	text-decoration: none;
}
/* TOP BAR AREA */
#greenBar {
	background-color: #00BD06;
	border-bottom: 1px solid #00B315;
	/*min-width: auto;*/
	position: relative;
	padding: 10px 0px;
	z-index: 300;
	vertical-align: middle;
}
	#greenBarContent {
		margin: 0px 10%;
	}

	#searchField {
		padding: 10px;
		width: 40%;
		outline: none;
		float: left;
		margin-right: 20px;
	}
	#logo {
		float: left;
		width: 15px;
		padding: 10px;
	}
	#navigation {
	}
	.navButton {
		margin: auto 10px;
	}
	.nav-pills>.active>a,.nav-pills>.active>a:hover, .nav-pills>.active>a:focus, .nav-pills>.navButton>a:hover {
		background-color: #1BC408;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	footer {
		clear: both;
	}
	
/* MAIN CONTENT */
#globalContainer {
	width: auto;
	margin: 0 10%;
	position: relative;
	zoom: 1;
}	
	/* FORMS */
	#forms {
		width: 40%;
		float: right;
	}
	.input {
		/*width: 30%;*/
		margin: 10px;
	}
	#formAddThing {
			
	}
		#camera {
			margin: 20px 0px;
			width: 100%;
			-webkit-filter: contrast(1.5) blur(0.5px) saturate(0.6);
		}
	#formLogin {
		
	}

	/* VIEWS FOR THUMNAILS*/
	.view {
		float:left;
		margin-top: 15px;
		margin-right: 15px;
	}	
	.thumbnail {
		width: 150px;
	}



