body {
	font-size: 12px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #333;
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}

div {
display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	color: #333;
	margin: 0;
	padding: 0;
}

	h1 {
		font-size: 15px;
	}
	a {
		cursor: pointer;
		color: #3b5998;
		text-decoration: none;
	}
	.thumbnail {
		width: 100px;
	}
	#searchBar {
		padding: 10px;
		margin: 10px 10%;
		width: 300px;
		outline: none;
	}
#pageLogo a, #pageLogo a:hover, #pageLogo a:focus, #pageLogo a:active {
	background-image: url(../images/thingsBookLogo.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
	display: block;
	height: 26px;
	width: 125px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	/*margin-left: auto 10%;*/
	
}
	#pageHead, #greenBar #pageHead {
		padding-top: 20px;
		/*margin-left: 10%;*/
		width: auto;
		height: 40px;
		/*position: relative;*/
	}

	#greenBarHolder.slim {
		/*height: 38px;*/
	}
#globalContainer {
width: auto;
margin: 0 10%;
position: relative;
zoom: 1;
}

#title, #signature {
padding-top: 20px;
}
#greenBar {
	background-color: #00BD06;
	border-bottom: 1px solid #00B315;
	/*min-width: auto;*/
	position: relative;
	z-index: 300;
}


		#pageLogo {
			float: left;
			margin-left: -7px;
			padding-right: 1px;
			z-index: 5;
		}
