<div class="col-lg-3">
	<a class="object thumbnail photo-thumbnail transparent-semi" style="background-image: url(<%= url %>);">
	<div class="row selected">
		<div class="col-lg-12">
			<span class="badge"><i class="fa fa-check"></i></span>
		</div>
	</div>
</div>