@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

/* color variables */
$baseColor: #48F50F;
$secondColor: #8FF86C;

$thumbnailHeight: 260px;

$previewHeight: 130px;

/* text variables */


// All links and Font-awesome icons are white
a, .fa {
				color: white;
}

// Same background for interactive elements
.btn, .navbar-inner, .label, .badge, .input-group-addon, .btn-primary {
				background-color: $baseColor;
				border-color: $secondColor;
				text-transform: capitalize;
				color: white;
}

.btn:hover, .btn-primary:hover, a:hover, .nav > li > a:hover  {
				background-color: $secondColor;
				border-color: $baseColor;
				color: white;
}


.navbar-inner {
				// padding: 7px;
				@include gradient-vertical($baseColor, $secondColor);
}



#app {
				margin-top: 80px;

				.image-container {
								overflow: hidden;
				}

				.processing {
								position: absolute;
								top: 40%;
								left: 50%;
				}

				.object {
								-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
				.thing-thumbnail {
								height: $thumbnailHeight;
					margin-bottom: $thumbnailHeight/10;
				}
				.photo-thumbnail {
								height: $previewHeight;
					margin-bottom: $previewHeight/10;
				}
				.transparent-semi {
								-webkit-filter: opacity(0.5);
								-moz-filter: opacity(0.5);
				}

				#message-box {

								position: fixed;
								left: 0;
								top: 0;
								width: 100%;
								z-index: 2000;
								text-align: center;
								opacity: 0.8;

								.alert {
												padding: 10px;
												margin-bottom: 5px;
								}
				}

				#add {

								.photo-list {
												height: 2*$previewHeight;
												overflow-y: scroll;
								}

								.badge.selected {
												vertical-align: top;
												position: relative;
								}

				}
				#user {

								.profile {
												height: 2*$previewHeight;
								}

								.object.thing {
												display: block;
												overflow: hidden;
								}

								.new-tag {
												position: absolute;
												top: 80%;
								}
								

								a.thumbnail:hover {
												border-color: white;
								}

				}

				.options-container {
								display: none;
				}



}







